html {
    font-size: 10px;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'DM Sans', sans-serif;
}

.container { 
    margin: 0 auto;
    max-width: 90%;
}

button {
    font-family: 'DM Sans', sans-serif;
}